<%#= form_for(@recipe) do |f| %>
<%= form_for @recipe, url: {controller: "recipes", action: "create"}, method: "post" do |f| %>

<h1> <%= params["name"] %></h1>
<h2>Rating: <%= params["rating"] %></h2>
<img src="<%= params["image"] %>"> </br>
<a href="<%= params["link"] %>">View recipe</a></br>
<h2>Ingredients:</h2>
<% ingredients = params["ingredient_list"].split("&") %>
<% ingredients.each do |ingredient| %>
<%= ingredient %></br>
<% end %>


<%= hidden_field_tag "name", params["name"] %>
<%= hidden_field_tag "rating", params["rating"] %>
<%= hidden_field_tag "image", params["image"] %>
<%= hidden_field_tag "link", params["link"] %>
<%= hidden_field_tag "ingredient_list", params["ingredient_list"] %>

  <div class="cookbook-field">
    <h2><%= f.label :cookbook %></h2>
    <%=collection_select(:recipe, :cookbook_id, current_user.cookbooks.all, :id, :name, prompt: true)%>
  </div>

  <div class="note-field">
   <h2> <%= f.label :Note%></h2>
    <%= f.text_field :note %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
