<%#= form_for(@recipe) do |f| %>
<%= form_for @recipe, url: {controller: "recipes", action: "update"}, method: "patch" do |f| %>

<h1>Name: <%= @recipe.name%></h1>
Rating: <%= @recipe.rating %></br>
<img src="<%= @recipe.image %>"> </br>
<a href="<%= @recipe.link%>">View recipe</a></br>
Ingredients:</br>
<% ingredients = @recipe.ingredient_list.split("&") %>
<% ingredients.each do |ingredient| %>
<%= ingredient %> </br>
<% end %>


<%= hidden_field_tag "name", @recipe.name %>
<%= hidden_field_tag "rating", @recipe.rating %>
<%= hidden_field_tag "image", @recipe.image%>
<%= hidden_field_tag "link", @recipe.link %>
<%= hidden_field_tag "ingredient_list", @recipe.ingredient_list %>

  <div class="cookbook-field">
    <%= f.label :cookbook %>
    <%=collection_select(:recipe, :cookbook_id, current_user.cookbooks.all, :id, :name, prompt: true)%>
  </div>

  <div class="note-field">
    <%= f.label :Note%><br>
    <%= f.text_field :note %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>