<%= form_for(@recipe) do |f| %>

Name: <%= @recipe.name%></br>
Rating: <%= @recipe.rating %></br>
<img src="<%= @recipe.image %>"> </br>
<a href="<%=@recipe.link%>">View recipe</a></br>
Ingredients:</br>
<% @recipe.ingredient_list.split("&").each do |ingredient| %>
<%= ingredient %></br>
<% end %>

  <div class="diet-field">
    <%#= f.label :cookbook %>
    <%#=collection_check_boxes(:recipe, :cookbook_ids, Cookbook.all, :id, :name, prompt: true)%>
  </div>

  <div class="note-field">
    <%= f.label :Note%><br>
    <%= f.text_field :note %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>