<%= form_tag(searches_path) do %>
<h2>Who's at the table?</h2>
<% if current_user %>
	<div class="member-search-select">
		<% if current_user.members.count > 0 %>
			<% current_user.members.each do |member| %>
			<%= check_box_tag(member.name) %>
			<%= label_tag(member.name, "#{member.name}") %>
			<% end %>
		<% else %>
			<%= link_to "Add friends and family", new_member_url %> to your table so you can filter by their preferences!
		<% end %>
	</div>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %> to customize searches to who sits at your table!
<% end %>

<h2>Any allergies? </h2>
<div class="allergy-search-select">
	<% Allergy.all.each do |allergy| %>
	<%= check_box_tag(allergy.name) %>
	<%= label_tag(allergy.name, "#{allergy.name}") %>
	<% end %>
</div>

<h2>Following a diet? </h2>
<div class="diet-search-select">
	<% Diet.all.each do |diet| %>
	<%= check_box_tag(diet.name) %>
	<%= label_tag(diet.name, "#{diet.name}") %>
	<% end %>
</div>

<h2>What meal are you preparing? </h2>
<div class="course-search-select">
	<% $courses = ["Main Dishes", "Desserts", "Side Dishes", "Lunch and Snacks", "Appetizers", "Salads", "Breads", "Breakfast and Soups", "Beverages", "Condiments and Sauces", "Cocktails"] %>
	<% $courses.each do |course| %>
	<%= check_box_tag("#{course}") %>
	<%= label_tag("#{course}", "#{course}") %>
	<% end %>
</div>

<%= text_field_tag 'search'%>

<%= submit_tag 'Search' %></div>
<% end -%>