<% @search_results.each do |recipe| %>

<div class ="recipe-result">

	<h2> <%= recipe.name %> </h2>
	<% found_recipe = Yummly.find("#{recipe.id}")%>

	<% image = found_recipe.response["images"].first["hostedLargeUrl"] %>
	<img src="<%=image%>"/>

	<div class="cook-time"> 
		Time: <%= (recipe.response["totalTimeInSeconds"]).to_i/60%>mins
	</div>
	<div class="rating">
		<% rating = recipe.response["rating"] %>
		Rating: <%= rating %>
	</div>

	<div class="recipe-_original-link">
		<% original_link = found_recipe.response["source"]["sourceRecipeUrl"] %>
		<a href="<%=original_link%>">View the recipe</a> 
	</div>

	<div class="ingredients-details">
		<% ingredient_list = found_recipe.response["ingredientLines"] %>
		<% ingredient_string = ingredient_list.join("&")%>
		<% ingredient_list.each do |line|%>
	 	<%= line %> </br> 
	 	<% end %>
	</div>

	<div class="add-to-cookbook">

		<%= button_to 'create_recipe', { controller: "recipes", action: "create_from_search", name: recipe.name, rating: rating, image: image, ingredient_list: ingredient_string, link: original_link, method: :post} %>
  	</div>
  	
</div>

<% end %>