<% @search_results.each do |recipe| %>

<div class ="recipe-result">

	<h1 class="recipe-name"> <%= recipe.name.truncate(25) %> </h1>
	<% found_recipe = Yummly.find("#{recipe.id}")%>

	<% image = found_recipe.response["images"].first["hostedLargeUrl"] %>
	<img src="<%=image%>"/>

	<div class="cook-time"> 
		<% time = (recipe.response["totalTimeInSeconds"]).to_i / 60 %>
		<h2>Time: <span class="search-tag"><%= time %> mins</span>
	<span class="rating">
		<% rating = recipe.response["rating"] %>
		Rating: <span class="search-tag"><%= rating %></span></span></h2>
	</div>

	<div class="recipe-_original-link">
		<% link = found_recipe.response["source"]["sourceRecipeUrl"] %>
		<a href="<%=link%>">View the recipe</a> 
	</div>

	<div class="ingredients-details">
		<h2>Recipe:</h2>
		<% ingredient_list = found_recipe.response["ingredientLines"] %>
		<% ingredient_string = ingredient_list.join("&")%>
		<% ingredient_list.each do |line|%>
	 	<%= line.truncate(40) %> </br> 
	 	<% end %>
	</div>

	<div class="add-to-cookbook">
	 <% if current_user %>
		<%= button_to 'Add to cookbook', { controller: "recipes", action: "create_from_search", name: recipe.name, rating: rating, image: image, ingredient_list: ingredient_string, link: link, time: time, method: :post} %>
	<% else %>
	</br>
	</br>
	<%= link_to "Sign Up", new_user_registration_path, class: "sign-up" %> to add recipes to your cook book!
	<% end %>

  	</div>
  	
</div>

<% end %>