<% @search_results.each do |recipe| %>

<div class ="recipe-result">

	<h2> <%= recipe.name %> </h2>

	<%#<img src="<%=Yummly.find("#{recipe.id}").response["images"].first["hostedLargeUrl"]%>"/>

	<div class="cook-time"> 
		Time: <%= (recipe.response["totalTimeInSeconds"]).to_i/60%>mins
	</div>
	<div class="rating">
		<% rating = recipe.response["rating"] %>
		Rating: <%= rating %>
	</div>

	<div class="recipe-_original-link">
		<%#<a href="<%=Yummly.find("#{recipe.id}").response["source"]["sourceRecipeUrl"]%>">Source Link</a> 
	</div>

	<div class="ingredients-details">
		<%# Yummly.find("#{recipe.id}").response["ingredientLines"].each do |line|%>
	 	<%#= line %> </br> 
	 	<%# end %>
	</div>

	<div class="add-to-cookbook">

		<%= button_to 'create_recipe', { controller: "recipes", action: "create_from_search", name: recipe.name, rating: rating }, method: :post %>

		<div class="actions">
  	</div>
  </div>
</div>

<% end %>