<%= form_for(@cookbook) do |f| %>

  <div class="name-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<% if @cookbook.name != nil %>
<%= link_to 'Delete Cookbook', @cookbook, method: :delete, data: { confirm: "Are you sure you want to delete the cookbook \"#{@cookbook.name}\"? All recipes in the cookbook will be deleted. Please hit -cancel- to assign any recipes that you do not want to have deleted to another cookbook." } %>
<% end %>