<%= form_for(@cookbook) do |f| %>
<%= f.error_messages %>
  <div class="name-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<% if @cookbook.id != nil %>
<%= link_to 'Delete Cookbook', @cookbook, method: :delete, data: { confirm: "Are you sure you want to delete the cookbook \"#{@cookbook.name}\"?" } %>
<% end %>
</br>
</br>


<% if @cookbook.id != nil%>
  <% if @cookbook.recipes.count > 0 %>
    Recipes </br>
	  <% @cookbook.recipes.each do |recipe| %>
	  <%= link_to recipe.name, recipe %>     
    <%= link_to 'Remove', recipe, method: :delete, data: { confirm: "Are you sure you want to remove \"#{recipe.name}\" from the \"#{recipe.cookbook.name}\" cookbook?" } %> </br>
    <% end %>
  <% else %>
     Search for recipes to add to your cookbook!
  <% end %>
<% end %>