<%= form_for(@cookbook) do |f| %>
<%= f.error_messages %>
  <div class="name-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

<% if @cookbook.name != nil %>
<%= link_to 'Delete Cookbook', @cookbook, method: :delete, data: { confirm: "Are you sure you want to delete the cookbook \"#{@cookbook.name}\"?" } %>
<% end %>
</br>
</br>
Recipes </br>
<% if @cookbook.recipes.count > 0 %>
	<% @cookbook.recipes.each do |recipe| %>
	<%= link_to recipe.name, recipe %>      
  <%= link_to 'Remove', recipe, method: :delete, data: { confirm: "Are you sure you want to remove this recipe from the \"#{recipe.cookbook.name}\" cookbook?" } %>
<% end %>
<% end %>