<%= form_for(@member) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :allergy %>
    <%=collection_check_boxes(:member, :allergy_ids, Allergy.all, :id, :name, prompt: true)%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
