<h1>RightByte</h1>


<h2><%= link_to "Search for recipes", new_search_path %> </h2>

<%if current_user %>

<div class="member-list">
<h2>Who's at your table?</h2>
<h3><%= link_to "Add new dinner guest", new_member_url %> </h3>
	<% if current_user.members && !current_user.members.empty? %>
		<%current_user.members.each do |member| %>
		<ul>
			<li><%= link_to member.name, member %></li>
      <li><%= link_to 'Edit', edit_member_path(member) %></li>
      <li><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
		<%end%>
	<% else%>
		Add people to your table
	<% end %>
</div>

<div class="cookbook-list">
<h2>Cookbooks</h2>
<h3><%= link_to "Add new cookbook", new_cookbook_url %> </h3>
	<% if current_user.cookbooks && !current_user.cookbooks.empty? %>
		<%current_user.cookbooks.each do |cookbook| %>
		<ul>
			<li><%= link_to cookbook.name, cookbook %></li>
      <li><%= link_to 'Edit', edit_cookbook_path(cookbook) %></li>
      <li><%= link_to 'Destroy', cookbook, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
		<%end%>
	<% else%>
		Add a cookbook and start saving your favorite recipes!!
	<% end %>
</div>	

<div class="recipes-list">
<h2>Recipes</h2>
	<% if current_user.recipes && !current_user.recipes.empty? %>
		<%current_user.recipes.each do |recipe| %>
		<ul>
			<li><%= link_to recipe.name, recipe %></li>
      <li><%= link_to 'Edit', edit_recipe_path(recipe) %></li>
      <li><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		</ul>
		<%end%>
	<% else%>
		Search for new recipes to add to your cookbooks!!
	<% end %>
</div>	

<div class="not-logged-in">
<% else %>
Please log in to start cookin'
<% end %>
</div>


<%#= link_to 'Search', edit_member_path(member) %>
<br/>	
<%# results = Search.new("fish") %>
<%#= results.first.name %>
<br/>
